<!DOCTYPE html>
<html>
    <head>
        <meta lang="zh-CN">
        <title>test</title>
    </head>
    <body>
        <div class=page>
            <h1><a href="{{url_for('index')}}">Home</a></h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %} {% endblock %}
        </div>
    </body>
</html>



